.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Thumbs.db

static/*tsv.gz
static/all_networks_peixoto.csv

content/post/2021-02-13-data-interlude-show-me-what-you-got/
content/post/2021-01-27-the-social-structure-of-collaborations-in-ecology-i

public/post/the-social-structure-of-collaborations-in-ecology-i/ 
